# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log

# Secrets
.env
*.pem
*.key
secrets/
credentials/
*_secret.*

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PowerShell
*.ps1.bak
